* {
  margin: 0;
  box-sizing: box-border;
}

header, footer {
  width: 100vw;
  display: none;
  background: #fffbf5;
  color: #026540;
  position: fixed;
  padding: 20px 0;
  text-align: center;
}

footer {
  bottom: 0;
}

body {
  background: #026540;
  color: #fffbf5;
}

.wrapper {
  padding: 1em;
  display: flex;  
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  text-align: left;
}

.wrapper > * > * {
  width: 100%;
}

#intro{
  order: 1;
  font-size: 1.5em;
}

#intro p:first-child {
  padding-bottom: 1em;
}

.aside{
  font-size: 1.5em;
}

.aside > a {
  color: ;
  text-decoration: ;
}

#picture{
  font-size: 1.5em;
  font-weight: normal;
  background: ;
  order: 2;
}

#josef {
  order: 3;
}

@media all and (min-width: 600px) {
  .aside, #intro, #picture { flex: 40%; }
}

@media all and (min-width: 800px) {
}
