# mod_rewrite starts here
RewriteEngine on

# Does not apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the actual page with the .html extension
RewriteRule ^(.*)$ $1.html [NC,L]

# Send to 404 page
ErrorDocument 404 /404-page.html
